@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap');

:root[data-theme='dark'] {
  --background-color: #434343;
  --accent-color: #ff3d57;
  --text-color: rgb(245 245 244);
}

:root[data-theme='light'] {
  --background-color: rgb(245 245 244);
  --accent-color: #ff3d57;
  --text-color: #434343;
}

html {
  box-sizing: border-box;
}

body {
  font-family: 'Work Sans', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

button {
  font-family: 'Work Sans', sans-serif;
  border: none;
  background: var(--accent-color);
  color: white;
  border-radius: 0.4rem;
  padding: 0.4rem 0.6rem;
  cursor: pointer;
}

.App {
  margin: 1.5em auto;
  max-width: 90%;
  column-gap: 1.5em;
}

.header {
  color: var(--accent-color);
}

.SearchResult {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(4, minmax(250px, 1fr));
  grid-gap: 10px;
}

@media (max-width: 992px) {
  .SearchResult {
    grid-template-columns: repeat(3, minmax(250px, 1fr));
  }
}

@media (max-width: 768px) {
  .SearchResult {
    grid-template-columns: repeat(2, minmax(250px, 1fr));
  }
}

@media (max-width: 576px) {
  .SearchResult {
    grid-template-columns: repeat(1, minmax(250px, 1fr));
  }
}

.SearchResult img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.SearchResult .item {
  background-color: #eee;
  display: inline-block;
  width: 100%;
  cursor: pointer;
}

.searchInputContainer {
  width: 100%;
  font-size: 40px;
  display: flex;
  gap: 0.5rem;
}

.searchInput {
  border: 1px solid var(--accent-color);
  border-radius: 0.5rem;
  width: 100%;
  padding: 0.5rem;
  background-color: var(--background-color);
  font-family: 'Work Sans', sans-serif;
  color: var(--text-color);
  font-size: 16px;
}

.keyword {
  margin: 1.3rem 0.1rem 0.7rem 0rem;
  cursor: pointer;
  background-color: var(--background-color);
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.ImageInfo {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.ImageInfo .content-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  padding: 0.5rem 1rem;
  transform: translate(-50%, -50%);
  background-color: var(--background-color);
  border: 1px solid var(--accent-color);
  border-radius: 0.7rem;
}

.ImageInfo .content-wrapper img {
  width: 100%;
}

@media (max-width: 768px) {
  .ImageInfo .content-wrapper {
    width: 100%;
  }
}

.loading {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  padding: 2rem 5rem;
  transform: translate(-50%, -50%);
  background-color: var(--background-color);
  border: 1px solid var(--accent-color);
  border-radius: 5px;
  color: var(--accent-color);
}

/* fade in - out */
.ImageInfo.fadein {
  animation: fadein 1s;
}

.ImageInfo.fadeout {
  animation: fadeout 1s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
